body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.box{
	background-color: #2b3035;
	width: 100%;
	height: fit-content;
	border-right: 1px solid #6865658c;
}
.flex{
	display: flex;
	background-color: black;
	padding: 4em;
	flex-grow: 1;
}
textarea{
	height: 45vh;
	width: 98.3%;
	background-color: white;
	font-size: 20px;
}
.header{
	color: white;
	font-family: auto;
	text-align: center;
	margin-top: 15px;
}
.CodeMirror{
		height: 340px !important;
		color: white;
}
.CodeMirror-gutters{
	background-color: red;
}
.CodeMirror-scroll{
	background-color: #2b3035;
}
.icon{
	border-radius: 5px;
	padding: 7px;
	padding-left: 14px;
	margin-right: 8px;
	padding-right: 14px;
	background-color: red;
}
.blue{
	background-color: #0083e4;
}
.yellow{
	background-color: yellow;
    color: black;
}
.flex1{
	display: flex;
	background-color: black;
    justify-content: space-between;
    align-items: center;
		padding: 16px;
}
img{
	width: 1em;
	height: 1em;
	cursor: pointer;
}